@import url('https://rsms.me/inter/inter.css');
@import url('https://rsms.me/inter/inter-ui.css');

@font-face {
    font-family: "SF Pro Display";
    src: url('./assets/fonts/SF-Pro-Display-Regular.otf');
}
html {
    font-family: 'SF Pro Display', 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'SF Pro Display', 'Inter var', sans-serif;
    }
}

body,
html,
#root {
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
